/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
	height: 100%;
}

body {
  font-family:  tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
    color: #5a5a5a;
  line-height: 22px;
  font-size: 18px;
}

body.ltr, body.rtl {
  text-align: center;
}

p {
    padding: 5px;
}

.header {
  font-weight: bold;
}

.headline{
    border-bottom: 1px solid #ddc69b;
    padding-bottom: 5px;
    margin-bottom:30px;
}


h3.headline {
  color: #ddc69b;
}

.coverImage {
  width: 100%;
}

.page-header{
  padding-right: 20px;
  margin-top:5px;
    /* overriding bootstrap */
    margin-bottom: 0;
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-header a {
  color: #ddc69b
}

.page-header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-content {
  letter-spacing: 1px;
  line-height: 1.8em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px
  }
}

@media (max-width: 760px) {
.page-header span.header-text{
  font-size: 14px;
  }
}

@media (min-width: 760px) {
  .page-header span.header-text{
    font-size: 18px;
    }
  }

img.header-image{
  height: 64px;
    width: 64px;
  margin-right: 5px;
  margin-left: 5px;
    display: block;
}

img.services{
border: 2px solid grey;
}


footer{
    background-color: #38393c;
  width: 100% !important;
  color:white;
}

footer h4 {
  color: #ddc69b;
  font-weight: bold;
}

footer span.glyphicon, footer a {
  margin-left: 5px;
    color: #ddc69b;
}

#social-networks{
  height: 60px;
  width: 30%;
  background-color: #ddc69b;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-block {
    min-height: 180px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar{
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #3d3c3c
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #969494
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  /*position: absolute;*/
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
}

@media (max-width: 760px) {
  .container>.navbar-collapse {
    /*for small screen */
    margin-right: 0;
    margin-left: 0;
  }
}


.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-inverse {
  background-color: #ddc69b;
  border-color: #dfbd7f;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ddc69b;
}

.navbar.center .navbar-inner{
    text-align: center;
    padding: 0;
}
.navbar.center .navbar-inner .nav{
    float: none;
    display:inline-block;
      margin-bottom: -10px;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

#navbar {
  text-align: center;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #a2a5a7;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #ddc69b;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.affix {
      top: 0;
      width: 100%;
  }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 800px;
  margin-bottom: 30px;
  margin-top: -20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}
  
.carousel-inner > .item > img {
  height: 800px;
  object-fit:contain;
  min-width: 1000px;
}

/* HEADER IMAGE MAIN PAGE */
.headline-image {
  height: 450px;
  object-fit: scale-down;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0 40px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* footer */



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    /*margin-top: 140px;*/
  }
  .navbar-wrapper .container {
    width:100%;
    /*padding-right: 15px;
    padding-left: 15px;
    */
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    /* border-radius: 4px; */
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (max-width: 760px) {
  .carousel-inner > .item > img {
    min-height: 350px;
    height: auto;
    width: 100%;
    min-width: 300px;
}

.carousel .item {
  height: 350px;
}

  /* Carousel base class */
.carousel {
  height: 350px;
  margin-bottom: 30px;
  margin-top: -20px;
}

img.headline-image {
  height: 350px;
  object-fit: scale-down;
}

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 115px;
  }
}

/* main */
main {
    box-shadow: 0 8px 10px rgba(103, 100, 100, 0.26);
    min-height: 450px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /*padding: 5px;*/
}

.main-cover-container {
    width:100%;
    padding-left:0;
    padding-right:0;
    margin-top:0 !important;
}

main.container {
    width: 100%;
    padding:0;
}
/* index */
.featurette-heading {
    margin-top: 0;
}

.service-item {
    height: 300px;
}

/* about us */


/*images  */

.img-container {
    /* deprecated */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 15px auto 15px auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px auto 15px auto;
}

.image-container-m {
    display: flex;
    align-items: stretch;
    width: 250px;
    height:250px;
    margin: 7px 20px;
}

.image-container img, .image-container-m img  {
    width: 100%;
    height:auto;
    object-fit: cover;
}

.img-m {
  max-height: 250px;
}

.img-l {
  max-height: 350px;
  min-height: 250px;
}

.img-xl {
  min-height: 450px;
}

.img-s {
  height: 150px;
  max-width: 350px;
  flex:1
}

@media (max-width: 760px) {
  .img-l {
    max-height: 250px;
    min-height: 150px;
  }
  
  .img-xl {
    min-height: 250px;
  }
}

/* insta */
.fa-instagram {
    margin-right: 5px;
    font-size: 35px;
    color: #54464c;
    cursor: pointer;
}

.fa-instagram:hover {
    text-decoration: none;
}


.insta-div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #54464c
}

.text-container {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

textarea.danger, input.danger {
    border-color: red;
}

textarea.success, input.success {
    border-color: green;
}

p.form-validation {
    text-align: right;
}

.golden-quote{
color: #b19c2f;
    font-size: 18px;
    font-family: monospace;
    font-style: italic;
    display: block;
    margin-bottom: 20px;
}

a.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

@media (max-width: 768px) {
        .row {
            justify-content: center;
            align-content: space-between;
        }
        .footer-block {
            min-height: 90px;
        }
        #social-networks { width: 100%; }
    }

.ltr, .ltr * {
  direction: ltr;
  /*text-align: left*/
}

.rtl, .rtl * {
  direction: rtl;
  /*text-align: right*/
}

@media (max-width: 760px){
  .rtl, .rtl *, .ltr, .ltr * {
    text-align: center
  }
}

@media (min-width: 760px){
  ul.ltr > li{
    float: left!important;
  }
}

@media (min-width: 760px){
  ul.rtl > li{
    float: right!important;
  }
}

.acknowledgement {
  margin: 0px 5px;
  font-size: 8px
}

.caret, .glyphicon  {
  /* the arrow for dropdown */
  margin-right: 5px;
  margin-left: 5px;
}

.nav>li>a.navbar-brand {
  padding-top: 10px;
}